
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(cidade2.jpg) ;
    --strok-color: rgba(255, 255, 255, 0.5) ;
    --surface-color: rgba(255, 255, 255, 0.1) ;
    --surface-color-hover: rgba(255, 255, 255, 0.05) ;
    --high-light-color: rgba(128, 128, 128, 0.616) ;
    --switch-tap-bg: url(pastas\ de\ imagens/moon-stars.svg) ;
}

.light {

    --text-color: rgb(0, 0, 0);
    --bg-url: url(cidade1.jpg) ;
    --strok-color: rgba(15, 15, 15, 0.5) ;
    --surface-color: rgba(0, 0, 0, 0.05) ;
    --surface-color-hover: rgba(0, 0, 0, 0.219) ;
    --high-light-color: rgba(0, 0, 0, 0.219) ;
    --switch-tap-bg: url(pastas\ de\ imagens/sun.svg) ;
}

body {
    
    background: var(--bg-url)  top center/cover ;
   height: 100vh;

}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}
#container {

    max-width: 588px;
    width: 100%;
    padding: 0 24px;
    margin: 56px auto 0px;

    
}

/*profile*/

#profile {

    text-align: center;
    padding: 24px;
    
    
}

#profile img {

    
    border-radius: 50%;
    width: 150px;
    height: 133px;
  
    margin: auto;
    text-align: center;

}

#profile p {

    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;

}

/*switchcomeço*/

#switch {

    width: 64px;
    position: relative;
    margin: 4px auto;
}

#switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-tap-bg) no-repeat center ;
    border-radius: 50%;
    border: 0;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    
    animation: slide-out 0.3s ;
}
#switch button:hover{

    outline: 8px solid var(--high-light-color);
    
}

#switch span{

    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--strok-color);
    border-radius: 9999PX;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.light #switch button{

   animation: slide-in 0.3s forwards;
}

#paragrafo {
    padding: 20px 0 0;
}

#paragrafo p {

    
    
    text-align: center;
}




/*links*/

ul {
    list-style: none;
    
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 24px 0;
}

ul li a{

    display: flex;
    padding: 16px 24px;
    
    align-items: center;
    justify-content: center;
    background-color: var(--surface-color);
    border: 1px solid var(--strok-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    font-weight: 500;
    text-decoration: none;

    transition: background 0.5s;
    
}
ul li a:hover {
    background-color: var(--surface-color-hover);
    border: 2px solid var(--text-color);

}

/*social links*/

#socialmidia {
    display: flex;
    gap: 2px;
    font-size: 24px;
    padding: 24px 0;
    justify-content: center;

}
#socialmidia a{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 50%;
    transition: ease-in;
    transition: 1s;
}
#socialmidia a:hover{
    
    
    border-radius: 50%;
    
    background-color: var(--high-light-color);
}
footer{
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
   
}

/* media queries hahahahaha */ 

@media (min-width: 700px) {

    :root{
        --bg-url: url(cidade2.jpg) ;

    }
    .light{

        --bg-url: url(cidade1.jpg) ;
        
        
    }
}

/*animação*/

@keyframes slide-in {
    from {

        left: 0;
    }
    to {

        left: 52%;
    }

}

@keyframes slide-out {
    from {
        left: 52%;
    }
    to {
        left: 0;
    }
}